#uw-header {
  padding: 10px 1%;
  border: none;
}
#uw-logo {
  height: 51px;
}
.nologo #uw-search {
  float: right;
  position: relative;
  top: 0;
  right: 0px;
}
#site-header {
  background-color: #fff;
}
#uw-footer {
  padding: 12px;
}
.cas_login {
  font-size: 1em;
  top: 5px;
}
#cas_login {
  bottom: 5px;
}
#uw-search form {
  margin: 0 0 2px;
}
#search-form fieldset:hover,
fieldset:hover > legend {
  background-color: #fff;
}
